{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load leaflet_tags %}
{% load staticfiles %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol"%}
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% leaflet_js plugins="groupedlayercontrol" %}
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<!-- Detail extra script-->
<script>
  function locations_map_init(map, options) {
    var trans = {
      open: "{% trans 'Open location' %}"
    };

    switch_layer_controls(map, options);

    {% if object.extent %}
    var projectExtent = {{ object.extent.geojson|safe }};
    {% else %}
    var projectExtent = null;
    {% endif %}

    var data = {{ location.geometry.geojson|safe }};
    var currentlocation = L.geoJson(data, {
      style: {color: '#edaa00', fillColor: '#edaa00', weight: 3},
      onEachFeature: function(feature, layer) {
        layer.bindPopup("<div class=\"text-wrap\">" +
                       "<h2><span>Location</span>{{ location.get_type_display }}</h2></div>" +
                       "<div class=\"btn-wrap\"><span class=\"btn-sm btn-block\">{% trans 'Currently viewing' %}</span>" +
                       "</div>");
      }
    });

    renderFeatures(map,
                   '{% url "async:spatial:list" object.organization.slug object.slug %}?exclude={{location.id}}',
                   {projectExtent: projectExtent, trans: trans, location: currentlocation});
    
    var orgSlug = '{{ object.organization.slug }}';
    var projectSlug = '{{ object.slug }}';
    var url = '/api/v1/organizations/'
            + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
    add_spatial_resources(map, url);
  }

  $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
  });
  $(window).on('popstate', function() {
      var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
      $('a[href=' + anchor + ']').tab('show');
  });
</script>
{% block location_extra_script %}{% endblock %}
{% endblock %}

{% block content %}

<div class="col-sm-12 content-single">
  <div class="top-filter header page-header" style="border-left: solid 1px #555; border-bottom: none; position: relative; top: 0; height: 44px; min-height: 44px; font-family: Roboto Condensed;">
    <div class="pull-left" style="color: #fff; padding: 6px 16px 0 16px; height: 44px; border-right: solid 1px #555;">
      <span style="font-weight: bold; font-size: 18px;">15</span> records showing
    </div>
    <div class="pull-left col-md-8" style="color: #fff; padding: 4px; margin-left: 10px;">
      <p class="pull-left" style="font: 14px Roboto Condensed; color: #fff; margin-top: 6px; margin-right: 4px;">Filters: </p>
      <div class="form-group" style="margin-bottom: 2px; padding: 2px 10px 2px 0;">
        <label class="control-label sr-only" for="id_type">Location types</label>
        <select class="form-control input-sm" id="id_type" name="type">
          <option value="">all location types</option>
        </select>
        <p class="pull-left hidden" style="font: 14px Roboto Condensed; color: #fff; margin-top: 6px;"> with </p>
        <label class="control-label sr-only" for="id_type">Relationship types</label>
        <select class="form-control input-sm" id="id_type" name="type">
          <option value="">all relationship types</option>
        </select>
        <p class="pull-left hidden" style="font: 14px Roboto Condensed; color: #fff; margin-top: 6px;"> for </p>
        <label class="control-label sr-only" for="id_type">Party names</label>
        <select class="form-control input-sm" id="id_type" name="type">
          <option value="">all people</option>
        </select>
      </div>
      <p class="pull-left" style="color: #a3b7e5; margin-left: 12px;"> <a href="#" style="color: #a3b7e5;">Reset filters</a></p>
    </div>
    <ul class="nav nav-tabs pull-right" style="margin-bottom: 0; height: 44px; overflow: hidden; border-bottom: 0;" role="tablist">
      <li role="presentation" class="active"><a style="font-size: 16px; font-family: Roboto Condensed; border-color: #e7e8ea; border-radius: 0; border-bottom-color: transparent; background: #fff; border-top: solid 4px #edaa00; color: #555;" href="#overview" aria-controls="overview" role="tab" data-toggle="tab"><img src="/static/img/icon-map2-green.png" style="width: 22px; padding: 4px;"> Map View</a></li>
      <li role="presentation"><a href="#relationships" style="font-size: 16px; color: #eee; font-family: Roboto Condensed;" aria-controls="relationships" role="tab" data-toggle="tab"><img src="/static/img/icon-table.png" style="width: 22px; padding: 4px;"> Table View</a></li>
    </ul>
    <div class="btn-group btn-group-sm pull-right hidden" role="toolbar" style="padding-right: 20px; padding-top: 4px;">
      <button type="button" class="btn btn-sm btn-default" style="background: transparent; border-color: #999;"><img src="/static/img/icon-map2-green.png" style="width: 22px; padding: 4px;"></button>
      <button type="button" class="btn btn-sm btn-default" style="background: transparent; border-color: #999;"><img src="/static/img/icon-table.png" style="width: 22px; padding: 4px;"></button>
    </div>
  </div>
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map">
      {% leaflet_map "project-map" callback="locations_map_init" %}
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    {% block location_panel %}{% endblock %}
    <!-- / overview detail -->
  </div>
</div>
{% endblock %}
