{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load leaflet_tags %}
{% load staticfiles %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol"%}
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% leaflet_js plugins="groupedlayercontrol" %}
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>
<!-- Detail extra script-->
<script>
  function locations_map_init(map, options) {
    var trans = {
      open: "{% trans 'Open location' %}"
    };

    switch_layer_controls(map, options);

    {% if object.extent %}
    var projectExtent = {{ object.extent.geojson|safe }};
    {% else %}
    var projectExtent = null;
    {% endif %}

    var data = {{ location.geometry.geojson|safe }};
    var currentlocation = L.geoJson(data, {
      style: {color: '#edaa00', fillColor: '#edaa00', weight: 3},
      onEachFeature: function(feature, layer) {
        layer.bindPopup("<div class=\"text-wrap\">" +
                       "<h2><span>Location</span>{{ location.get_type_display }}</h2></div>" +
                       "<div class=\"btn-wrap\"><span class=\"btn-sm btn-block\">{% trans 'Currently viewing' %}</span>" +
                       "</div>");
      }
    });

    renderFeatures(map,
                   '{% url "async:spatial:list" object.organization.slug object.slug %}?exclude={{location.id}}',
                   {projectExtent: projectExtent, trans: trans, location: currentlocation});
    
    var orgSlug = '{{ object.organization.slug }}';
    var projectSlug = '{{ object.slug }}';
    var url = '/api/v1/organizations/'
            + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
    add_spatial_resources(map, url);
  }

  $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
  });
  $(window).on('popstate', function() {
      var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
      $('a[href=' + anchor + ']').tab('show');
  });
</script>
{% block location_extra_script %}{% endblock %}
{% endblock %}

{% block content %}

<div class="col-sm-12 content-single">
  <div class="top-search header page-header" style="border-left: solid 1px #fff; position: relative; top: 0; height: 50px; min-height: 50px; padding-top: 8px;">
    <label class="pull-left" style="width: 15%;"><div class="input-group" style="padding: 0 10px 0 20px;"><span class="input-group-addon" style="padding: 2px 12px;
font-size: 13px;" ><span class="glyphicon glyphicon-search" style="font-size: 12px;"></span></span><input class="form-control input-sm" style="" placeholder="Search records" aria-controls="DataTables_Table_0" type="search"></div></label>
    <div class="pull-left" style="padding-right: 10px;">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 80px;">
          Filter <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="pull-left" style="color: #fff; padding: 4px 10px;">
      <strong>5</strong> records showing
    </div>
    <div class="button btn-group btn-group-sm pull-right" role="toolbar" style="padding-right: 20px;">
      <button type="button" class="btn btn-default" style="background: transparent; border-color: #999;"><img src="/static/img/icon-map2.png" style="width: 22px; padding: 4px;"></button>
      <button type="button" class="btn btn-default" style="background: transparent; border-color: #999;"><img src="/static/img/icon-split-green.png" style="width: 22px; padding: 4px;"></button>
      <button type="button" class="btn btn-default" style="background: transparent; border-color: #999;"><img src="/static/img/icon-table.png" style="width: 22px; padding: 4px;"></button>
    </div>
  </div>
  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-8 map">
      {% leaflet_map "project-map" callback="locations_map_init" %}
    </div>
    <!-- / end overview map -->
    <!-- Overview detail  -->
    {% block location_panel %}{% endblock %}
    <!-- / overview detail -->
  </div>
</div>
{% endblock %}
